#site_header {
    padding-bottom: 20px;

    .row_header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .title {
            display: flex;
            align-items: center;
            gap: 5px;
            color: white;
        }

        .right_navbar {
            max-width: 500px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .searchbar {
                flex-grow: 1;
                background-color: white;
                display: flex;
                gap: 4px;
                border-radius: 15px;
                padding: 10px 10px;
                align-items: center;
                color: #c32f27;

                & > input {
                    background-color: white;
                    color: #c32f27;
                    border: 0;
                    outline: none;
                    width: 100%;
                }
            }
            .dropdown_menu {
                color: #c32f27;
                background-color: white;
                padding: 10px 12px;
                border-radius: 50%;
            }
        }
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 20px;

    background: linear-gradient(to right, #9a2720 0%, #9a2720 100%);
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #f26b5e;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 160px;
    height: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    background: #ff5b32;
    background: linear-gradient(to right, #f088fc 1%, #ac6cff 70%);
}
