.modal_catch {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-confirm {
    color: #434e65;
    width: 525px;
    margin: 30px auto;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.close {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
    font-size: 30px;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal_sucefully {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-dialog {
        background-color: white;

        font-size: 16px;
        border-radius: 5px;
        border: none;

        .modal-content {
            .modal-header {
                justify-content: center;
            }
        }
    }
}

.modal_not_success {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-dialog {
        background-color: white;

        font-size: 16px;
        border-radius: 5px;
        border: none;

        .modal-content {
            .modal-header {
                justify-content: center;
                background-color: #c32f27;
            }
        }
    }
}

.modal_cancel_team {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.477);
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        max-width: 400px;
    }
}
