#app {
    background-color: #c32f27;
    padding: 10px;
}

$normal: #a8a878;
$fire: #f08030;
$water: #6890f0;
$eletric: #f8d030;
$grass: #78c850;
$fighting: #c03028;
$poisom: #a040a0;

.color_eletric {
    background-color: #f8d030;
}

#site_header {
    padding-bottom: 20px;
    .title {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
    }

    .right_navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .searchbar {
            flex-grow: 1;
            background-color: white;
            display: flex;
            gap: 4px;
            border-radius: 15px;
            padding: 10px 10px;
            align-items: center;
            color: #c32f27;

            & > input {
                background-color: white;
                color: #c32f27;
                border: 0;
                outline: none;
                width: 100%;
            }
        }
        .dropdown_menu {
            color: #c32f27;
            background-color: white;
            padding: 10px 12px;
            border-radius: 50%;
        }
    }
}

#site_main {
    .container_main {
        background-color: white;
        border-radius: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .container_pokemon {
        min-height: 85vh;
        display: flex;
        background-color: white;
        border-radius: 10px;
        padding: 30px 15px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        text-decoration: none;

        .card > a {
            height: 200px;
            border-radius: 10px;
            position: relative;
            box-shadow: 1px 1px 5px black;
            align-content: center;
            justify-content: center;
            display: flex;
            background: linear-gradient(
                to bottom,
                white 0%,
                white 60%,
                #eaeaea 60%,
                #eaeaea 100%
            );
            padding: 5px;
            .number_pokemon {
                position: absolute;
                right: 5px;
                color: gray;
            }

            .img_pokemon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 130px;
                & > img {
                    width: 90%;
                    height: 90%;
                }
            }

            .name_pokemon {
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.col-3 {
    width: calc(100% / 12 * 4 - 30px);
}

#singleCardPoke {
    #header_poke {
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px 0px 0px;

        .left_header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            & > a {
                text-decoration: none;
                color: white;

                & > i {
                    font-size: 24px;
                }
            }

            & > h2 {
                margin: 0;
            }
        }

        .right_header {
            justify-items: flex-end;
        }
    }

    .container_img {
        position: relative;
        z-index: 99;
        margin: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;

        & > img {
            width: 90%;
            max-width: 300px;
            height: 250px;
        }

        & > i {
            font-size: 30px;
            cursor: pointer;
        }
    }

    #body_info {
        max-width: 900px;
        margin: auto;
        background-color: white;
        padding: 100px 10px;
        transform: translateY(-80px);
        .badges {
            display: flex;
            align-content: center;
            justify-content: center;
            gap: 5px;
            & > span {
                padding: 7px 10px;
                background-color: red;
                border-radius: 120px;
            }
        }
        .about {
            & > h1 {
                text-align: center;
                color: gray;
            }
            .detail_poke {
                display: flex;
                align-items: center;
                height: 100%;
                margin-bottom: 30px;

                & > * {
                    width: calc(100% / 12 * 4);
                    min-height: 100%;
                    height: 120px;
                    display: grid;
                    grid-template-columns: auto;
                    justify-content: center;
                    gap: 5px;
                    align-items: center;

                    & > .top {
                        font-size: 18px;
                    }
                    & > .bottom {
                        font-size: 18px;
                        color: gray;
                    }
                }

                & > .height {
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    & > .top {
                        padding-top: 20px;
                    }
                }

                & > .weight {
                    & > .top {
                        padding-top: 20px;
                    }
                }

                & > .moves {
                    .top {
                        display: flex;

                        flex-direction: column;
                    }
                }
            }
            .stats_poke {
                & > .card_stat {
                    display: flex;
                    align-items: center;

                    & > .typology {
                        width: 85px;
                        border-right: 1px solid gray;
                        padding: 10px;
                    }

                    & > .stat {
                        display: flex;
                        padding-left: 15px;
                        align-items: center;
                        gap: 10px;
                        width: 100%;

                        & > .barra_stat {
                            max-width: 100%;
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
    }
}

.modal_catch {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-confirm {
    color: #434e65;
    width: 525px;
    margin: 30px auto;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.close {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
    font-size: 30px;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal_sucefully {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-dialog {
        background-color: white;

        font-size: 16px;
        border-radius: 5px;
        border: none;

        .modal-content {
            .modal-header {
                justify-content: center;
            }
        }
    }
}

.modal_not_success {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-dialog {
        background-color: white;

        font-size: 16px;
        border-radius: 5px;
        border: none;

        .modal-content {
            .modal-header {
                justify-content: center;
                background-color: #c32f27;
            }
        }
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 20px;

    background: linear-gradient(to right, #9a2720 0%, #9a2720 100%);
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #f26b5e;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 160px;
    height: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    background: #ff5b32;
    background: linear-gradient(to right, #f088fc 1%, #ac6cff 70%);
}

p {
    width: 100%;
    text-align: center;
    color: white;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", Roboto,
        Arial, Sans-serif;
    font-size: 32px;
    margin-top: 30px;
}

.header_teams {
    padding: 5px 10px;
}

.header_teams:hover {
    background-color: rgba(255, 255, 255, 0.217);
}

.team {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.217);
    }
}

.modal_cancel_team {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.477);
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        max-width: 400px;
    }
}
