@use "./partials/header";
@use "./partials/main";
@use "./partials/showpoke";
@use "./partials/teampoke";
@use "./partials/modal";
@use "./partials/loading";

#app {
    background-color: #c32f27;
    padding: 10px;
}

.cointar_page_not_found {
    height: 98vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .container_text {
        width: 100%;
        max-width: 410px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../../public/img/cinema.png");
        background-position: center;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;

        & > h1 {
            z-index: 9999;
        }
    }
}
